# Ignorer tout par défaut
*

# Sauf les scripts Python, requirements.txt, README.md, .gitignore et logo.png
!*.py
!requirements.txt
!README.md
!.gitignore
!logo.png 
!build_sh.sh
!build_exe.bat
!build_refactored.bat
!build_refactored.sh
!photogeoalign.spec
!test_build_refactored.py
!README_BUILD_REFACTORED.md
!CHANGELOG_REFACTORING.md
!resources/
!resources/*
!modules/
!modules/* 