# Ignorer tout par défaut
*

# Sauf les scripts Python, requirements.txt, README.md, .gitignore et logo.png
!*.py
!requirements.txt
!README.md
!.gitignore
!logo.png 
!build_linux.sh
!build_windows.bat
!photogeoalign_linux.spec
!photogeoalign_windows.spec
!resources/
!resources/*
!modules/
!modules/*
!hooks/
!hooks/*
!.github/
!.github/** 